@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tilt Neon', cursive;
}

#header {
    background: url("./assets/header.jpg");
    background-size: 150% 150%;
    width: 100%;
    height: 950px;
    font-size: 23px;
    color: #fff;
}

main, body {
    width: 100%;
}

nav, ul {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
}

#logo img {
    height: 80px;
}

#logo {
    display: flex;
    align-items: center;
    margin: auto 5%;
}

#logo a {
    text-decoration: none;
}

#menu {
    list-style: none;
    align-items: center;
}

#menu a {
    text-decoration: none;
    color: #fff;
}

#youtube-menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15%;
}

#youtube-menu img {
    position: absolute;
    margin-top: 5px;
    filter: invert();
}

#youtube-menu a {
    text-decoration: none;
    color: #fff;
}

.h1-h {
    display: flex;
    justify-content: center; 
    font-size: 7em;
    margin-top: 60px;
    width: 100%;
}

.h1-p {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}

.btn-p {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    border-radius: 100px;
    font-weight: bold;
    background-color: #fed432;
    border: none;
    font-size: 18px;
}

.h1-p a {
    text-decoration: none;
}

.spn-p {
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.scroll-btn {
    margin-top: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 100px;
    height: 70px;
    width: 45px;
    color: #000;
    text-align: center;
    font-weight: bold;
    filter: drop-shadow(12px 13px 18px #000);
}

#submenu {
    margin-top: -50px;
    width: 100%;
    display: flex;
}

#leftsidemenu {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.eatcappimg1 {
    height: 200px;
    border-radius: 50px;
}

#eatcapp1 {
    font-size: 25px;
    margin-left: 100px;
    font-weight: bold;
}

.eatcappimg2 {
    height: 250px;
    border-radius: 50px;
}

#eatcapp2 {
    margin-top: 100px;
    font-size: 25px;
}

#eatcapp2 p {
    margin-top: 20px;
    font-weight: bold;
}

#rightsidemenu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 100px;
}

.eatcappimg3 {
    position: absolute;
    height: 25%;
    width: 50%;
    border-radius: 50px;
    margin-top: 100px;
}

.play-btn {
    position: absolute;
    background-color: #641ae3;
    border-radius: 100px;
    padding: 17px 20px;
    font-size: 20px;
    color: #fff;
    margin-top: 160px;
    margin-left: 21%;
    border: 10px solid #fff;
}

.eatcappimg4 {
    height: 30%;
    border-radius: 50px;
    margin: 50px 0 0 -180px;
}

#eatcapp4 p {
    margin-top: 500px;
    margin-left: 30%;
    font-size: 25px;
    font-weight: bold;
}

#middle {
    width: 100%;
}

.h1-m {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #acacac;
    width: 100%;
}

.h2-m {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #000;
    width: 100%;
}

#middle-info {
    margin: 20px 40px;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    background-color: #fbeeff;
    width: calc(100% - 80px);
}

#middle-info1, #middle-info2, #middle-info3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

#middle-info1 img, #middle-info2 img, #middle-info3 img {
    height: 100px;
    width: 100px;
}

#pacote {
    margin: 100px 50px;
    width: calc(100% - 100px);
}

.h1-pacotes {
    font-size: 40px;
    font-weight: bold;
    color: #000;
}

#h-pacotes {
    display: flex;
    justify-content: space-between;
}

#h-pacotes p{
    text-align: right;
    font-weight: bold;
}

#pacotes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#pacote1, #pacote3 {
    background-color: #f9f0d3;
    padding: 40px;
    border-radius: 25px;
    border: 1px solid #000;
    margin-top: 70px;
}

#pacote2 {
    background-color: #170326;
    color: #fff;
    padding: 40px;
    border-radius: 25px;
    border: 1px solid #000;
    height: 100%;
}

#pacote1 .plan, #pacote2 .plan, #pacote3 .plan {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

#pacote1 .value, #pacote2 .value, #pacote3 .value {
    font-size: 40px;
    font-weight: bold;
}

#pacote1 hr, #pacote2 hr, #pacote3 hr {
    background-color: #d1d1d1;
    margin: 20px 0;
}

#pacote1 .checkvoo, #pacote2 .checkvoo, #pacote3 .checkvoo {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#pacote1 .checkret, #pacote2 .checkret, #pacote3 .checkret {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#pacote1 .checkreserva, #pacote2 .checkreserva, #pacote3 .checkreserva {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;
}

#pacote1 .checkvoo .check, #pacote3 .checkvoo .check {
    background-color: #ffef99;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: bold;
    margin-right: 10px;
}

#pacote1 .checkret .check, #pacote3 .checkret .check {
    background-color: #ffef99;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: bold;
    margin-right: 10px;
}

#pacote1 .checkreserva .check, #pacote3 .checkreserva .check {
    background-color: #ffef99;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: bold;
    margin-right: 10px;
}

#pacote2 .checkvoo .check, #pacote2 .checkret .check, #pacote2 .checkreserva .check {
    background-color: #ffef99;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: bold;
    color: #000;
    margin-right: 10px;
}

#pacote1 .reservar, #pacote3 .reservar {
    cursor: pointer;
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    border-radius: 100px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border: 1px solid #000;
}

#pacote1 .reserv, #pacote3 .reserv {
    padding: 5px 15px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
}

#pacote2 .reservar {
    cursor: pointer;
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    border-radius: 100px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    font-size: 18px;
    border: 1px solid #fff;
    color: #fff;
}

#pacote2 .reserv {
    padding: 5px 15px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    font-size: 20px;
 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #fbeeff;
}
